[user]
	name = Daniel Vartanov
	email = dan@vartanov.net

[alias]
	delete-merged-branches = "!git branch --merged | grep -v '*' | grep -v master| xargs git branch -d"
	pretty-log = "log --pretty=\"%C(Yellow)%h  %C(red)%cd %C(reset)(%C(Green)%cr%C(reset)) %C(auto)%d %C(cyan)%an: %C(reset)%s\" --date=format-local:\" %a %d %b %H:%M\""

[color]
	sh = auto
	ui = auto
        diff = auto
        status = auto
        branch = auto
        interactive = auto
        pager = true
[push]
	default = simple
[github]
	user = DanielVartanov
[merge]
	conflictstyle = diff3
