[user]
	name = Daniel Vartanov
	email = dan@vartanov.net

[alias]
	delete-merged-branches = "!git fetch --prune origin 2>/dev/null && git branch --merged origin/master | rg -vN '(^\\*|master|staging)' | xargs -r git branch -d"
	pretty-log = "log --pretty=\"%C(Yellow)%h  %C(red)%cd %C(reset)(%C(Green)%cr%C(reset)) %C(auto)%d %C(cyan)%an: %C(reset)%s\" --date=format-local:\" %a %d %b %H:%M\""

[color]
	sh = auto
	ui = auto
        diff = auto
        status = auto
        branch = auto
        interactive = auto
        pager = true
[push]
	default = simple
[github]
	user = DanielVartanov
[merge]
	conflictstyle = diff3
[credential]
	username = DanielVartanov
[rebase]
	autoStash = true
[safe]
	directory = /media/daniel/040ea527-cb05-47f1-87b1-6de4aede089f/personal-data/sensitive-dot-files/.password-store
[core]
	attributesfile = /home/daniel/.gitattributes

[diff "kotlin"]
    xfuncname = "^\\s*fun\\s+\\w+"
