xrandr && xrandr --output eDP-1 --mode 1920x1080

setxkbmap -layout us,ru -option grp:win_space_toggle -option ctrl:nocaps
synclient MaxTapTime=0
synclient TapButton1=0
synclient TapButton2=0
synclient TapButton3=0
synclient VertEdgeScroll=0
synclient VertTwoFingerScroll=1
synclient HorizTwoFingerScroll=1
xset r rate 165 45
redshift -l 51.6417173:-4.0268903 -b 1.0 &
dropbox start &
udiskie --no-notify &
