xrandr --output eDP1 --mode 1920x1080 --output DP2 --auto --left-of eDP1
setxkbmap -layout us,ru -option grp:win_space_toggle -option ctrl:nocaps
synclient MaxTapTime=0
synclient TapButton1=0
synclient TapButton2=0
synclient TapButton3=0
synclient VertEdgeScroll=0
synclient VertTwoFingerScroll=1
synclient HorizTwoFingerScroll=1
xset r rate 165 45
xinput set-prop 13 "Synaptics Tap Action" 0
xinput --set-prop "MOSART Semi. 2.4G Wireless Mouse" "Device Accel Constant Deceleration"  1.5
